.product_view .modal-dialog {
    max-width: 800px;
    width: 100%;
}

.pre-cost {
    text-decoration: line-through;
    color: #a5a5a5;
}

.space {
    padding: 0px 10px;
}

.gold {
    color: gold;
}

.big {
    font-size: 20px;
}
